<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="crystaldiskmark" />
    <package id="cue" />
    <package id="discord" />
    <package id="dropbox" />
    <package id="epicgameslauncher" />
    <package id="firefox" />
    <package id="gimp" />
    <package id="git" />
    <package id="googlechrome" />
    <package id="googledrive" />
    <package id="keepass" />
    <package id="msiafterburner" ignoreChecksums="true" />
    <package id="mp3tag" />
    <package id="musicbee" />
    <package id="nzxt-cam" />
    <package id="origin" />
    <package id="shutup10" />
    <package id="steam-client" />
    <package id="taskbarx" />
    <package id="totalcommander" />
    <package id="vscode" />
</packages>
